@charset "UTF-8";
/*----------------------------------------------------------
TP1: Les profondeurs marines
Date: 2 Avril
Étudiant: Skyler-Dominik England
------------------------------------------------------------ */

/* ------------------------------------------------------- */
/*                     VARIABLES CSS                       */
/* ------------------------------------------------------- */
:root {
  --lavender-mist: #f7f0f5ff;
  --frozen-water: #d5f5e9ff;
  --pearl-aqua: #95d1d2ff;
  --glaucous: #68769dff;
  --vintage-grape: #393348ff;
  --lobster-pink: #d05f57ff;

  --font-titre: "Lobster", cursive;
  --font-sous-titre: "Gruppo", sans-serif;
  --font-liens: "Open Sans", sans-serif;
  --font-paragraphe: "Scada", sans-serif;
}

/* ----------- Reset ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------- */
/*                     Styles globaux                      */
/* ------------------------------------------------------- */
body {
  background-color: var(--glaucous);
  font-family: "Open Sans", sans-serif;
  color: var(--vintage-grape);
  line-height: 1.6;
}

header {
  padding: 2rem;
  background-color: var(--vintage-grape);
  text-align: center;
  color: var(--lavender-mist);
}

h1 {
  margin-bottom: 0.5rem;
  font-family: var(--font-titre);
  font-size: 2rem;
}

.sous-titre {
  font-family: var(--font-sous-titre);
  color: var(--pearl-aqua);
}

button {
  border: none;
  background: transparent;
  color: var(--lobster-pink);
}

/* -------- Navigation --------- */
.burger {
  margin: 2rem;
  font-size: 2.5rem;
  background: none;
  color: white;
  cursor: pointer;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: white;
}

.nav-liens {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.nav-liens li {
  padding: 1rem;
}

.nav-liens a {
  color: white;
  text-decoration: none;
}

.nav-liens.active {
  display: flex;
  flex-direction: column;
  background-color: var(--lobster-pink);
  max-height: 100%;
  opacity: 1;
  width: 100%;
}

/* ---- Sections et contenu ---- */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 1rem 2rem;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 1rem;
  border-radius: 25px;
  color: var(--vintage-grape);
  gap: 1rem;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: auto;
  border-radius: 25px;
}

.carousel-piste {
  display: flex;
  transition: transform 0.4s ease;
}

.image {
  min-width: 100%;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: gray;
  aspect-ratio: 1 / 1;
}

/* boutons */
button.precedent,
button.suivant {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--vintage-grape);
  color: var(--lavender-mist);
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  z-index: 5;
  width: 35px;
  opacity: 0.9;
}

button.precedent {
  left: 30px;
}

button.suivant {
  right: 30px;
}

.contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--lavender-mist);
  padding: 1rem;
  border-radius: 5%;
}

/* -------- Footer -------- */
footer {
  color: var(--lavender-mist);
  padding: 2rem 1.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* --------------------------------------------------------- */
/*                          Images                           */
/* --------------------------------------------------------- */
.cadreImg {
  background-color: var(--lobster-pink);
  width: 250px;
  height: 250px;
}

.fa-brands :hover {
  transform: scale(1.2);
}

/* ------------------------------------------------------- */
/*                 TABLETTE 768px et plus                  */
/* ------------------------------------------------------- */
@media (min-width: 768px) {
  article {
    width: 100%;
    margin: 2rem auto;
    background-color: var(--lavender-mist);
    flex-direction: row;
  }

  #mesopelagique article,
  #abyssopelagique article {
    flex-direction: row-reverse;
  }

  .carousel {
    width: 80%;
  }

  footer .credits {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;
    align-items: flex-start;
    flex-direction: row;
  }

  footer .source {
    display: flex;
    flex-direction: column;
  }
}

/* ------------------------------------------------------- */
/*                 DESKTOP 1200px et plus                  */
/* ------------------------------------------------------- */
@media (min-width: 1200px) {
  .burger {
    display: none;
  }

  .navBar {
    justify-content: center;
  }

  .nav-liens {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: none;
    max-height: none;
    opacity: 1;
  }

  .navBar a {
    font-family: var(--font-liens);
    font-weight: bold;
    display: inline-block;
    transition:
      transform 0.2s ease,
      color 0.2s ease;
  }

  .navBar a:hover {
    transform: scale(1.2);
  }

  article {
    justify-content: space-evenly;
    padding: 2.5rem;
  }
  footer .credits {
    gap: 3rem;
  }
}
